<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
<servlet-name> SearchPersonServlet </servlet-name>
<servlet-class> SearchPersonServlet </servlet-class>
</servlet>

<servlet>
<servlet-name> ShowPersonServlet </servlet-name>
<servlet-class> ShowPersonServlet </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name> SearchPersonServlet </servlet-name>
<url-pattern> /searchperson </url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name> ShowPersonServlet </servlet-name>
<url-pattern> /showperson </url-pattern>
</servlet-mapping>

</web-app>