<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>
<servlet>
<servlet-name> HelloWorldServlet </servlet-name>
<servlet-class> HelloWorldServlet </servlet-class>
</servlet>
<servlet-mapping>
<servlet-name> HelloWorldServlet </servlet-name>
<url-pattern> /myfirstservlet </url-pattern>
</servlet-mapping>
</web-app>